.nav-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #303841;
  color: #eeeeee;
  padding: 5px;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: #f6c90e;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  font-weight: bold;
}

.characters {
  display: flex;
  gap: 12px;
}

.char-name {
  color: #f6c90e;
}

.charac img {
  border-radius: 50%;
  margin: 0 6px;
}

img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
